<!DOCTYPE html>
<html lang="en">
<title>Server Stats</title>
<head>
    <%- include('../partials/head'); %>
</head>
<body>

<main>
     <%- include('../partials/home'); %>
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>